<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>User Registration Page</title>
</head>
<body>
{% block content %}
<h2>Register</h2>

<div>
<form method="POST">
    {% csrf_token %}         <!-- This tag generates a CSRF token for protecting against CSRF attacks-->
    <div class="form-group"> <!-- form-group" is a Bootstrap class used to style form elements.It's used here for styling the form fields.-->
        {{form.as_p}}        <!-- This tag renders the form fields as paragraphs (<p> tags) by default-->
    </div>
    <button type="Submit" class="btn btn-dark">Register</button>
</form>
</div>
  {% endblock %}
</body>
</html>