<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novel Blog</title>
</head>

<body>  {% block content %}
    <ul>
        {% for blog in blog_list %}
        <li>
            <a href = "{% url 'blogdetail' blog.pk %}">{{blog.blogname}} </a>   - {{blog.author}} </br>
            {{blog.content}}
        </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'userblog' %}">List of Blogs you have written </a></li>
                <li><a href="{% url 'topcommentedblogs' %}">List of Top 5 Commented Blogs</a></li>
                <li><a href="{% url 'toplikedanddislikedblogs' %}">List of Top 5 Liked and Disliked Blogs in the last 3 days</a></li>
                <li><a href="{% url 'recent5likedblogs' %}">Your Recently 5 liked blogs</a></li>
                <li><a href="{% url 'commenthistoryforauthor' %}">My Comment history for Author Saanvi</a></li>

                <!-- Add more links as needed -->
            </ul>
        </div>
    {% else %}
        <div class="sidebar">
            <ul>
                <li><a href="login">Lfgf</a></li>
                <li><a href="login">Link 2</a></li>
                <li><a href="login">Link 3</a></li>
                <!-- Add more links as needed -->
            </ul>
        </div>
    {% endif %}
 {% endblock %}
</body>
</html>