<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  {% block content %}
      {% for blog in userblog %}
        <h1> {{blog.blogname}} </h1>
        <div>Written By - {{blog.author}} Updated - {{blog.modified_date}}</div><br/>
        <hr> <br/>
        <br/><br/>
            {% for comment in blog.comments.all %}
            <h2>Comments</h2>
                <strong> {{ comment.user.username }} - {{ comment.modified_date }} </strong>
                <br/><br/>
                 {{comment.comment_text}}
                <br/><hr>
            {% endfor %}
      {% endfor %}
  {% endblock %}

</body>
</html>